body{
  font-family: Titillium Web;
  background-color: #f7f7f7;
}

button {
  font-family: Poppins;
}

.primary-color{
  color: #0275d8;
}

.books-title{
  font-weight: 700;
  color: #0275d8;
}

.paper{
    justify-content: space-around;
    padding: 40px;
    margin: 50px 15% 0 15%;
    border-radius: 5px;

    /* box shadow css code taken from https://css-tricks.com/snippets/css/stack-of-paper/ */
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
      /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
}

.button-med{
  padding: 10px 30px 10px 30px;
  border-radius: 5;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.button-large{
  padding: 15px 30px 15px 30px;
  margin: 10px;
  border-radius: 5;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-brand{
  font-family: Poppins;
  font-weight: 600;
}

.navbar{
  margin: 0 15% 50px 15%;
}

.nav-link, 
.dropdown-item{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.alert{
  font-family: Poppins;
  font-size: 14px;
}

.text-center{
  text-align: center;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.centrize-inline{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  left: 0; right:0px;  margin: 0 auto;
}

.inline {
  display: inline;
}

input[type=text],
input[type=password]{
  font-size: 14px;
  padding: 20px 15px 20px 40px;
}

.input-icon{
  position: relative;
}

.input-icon i{
  position: absolute;
  left: 6px;
  top: 2px;
  padding: 9px 8px;
  /* color: #0066bf; */
}

.body-content {
  margin-top: 20px;
  margin-bottom:50px;
}

.body-content h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center; 
  padding: 10px;
  margin-bottom: 20px;
}

.body-content p {
  text-align: center; 
}

footer > p {
  font-size: 13px;
  padding: 50px;
  text-align: center;
  color: #cbcbcb;
}

.goodreads-footer{
  margin: 80px 0 -40px 0;
  text-align: center;
  color: #cbcbcb;
}

.goodreads-footer > p {
  font-size: 13px;
}





/* reg and login form */

.reg-form, 
.login-form,
.search-form {
  align-items: center;
}






/* library page */

.card {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.search-bar,
.home-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-box{
  margin: 10px;
  width: 300px;
}

.card-link{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.library-cards, 
.book-top-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}





/* 404 page */

.img-404, 
.img-403{
  width: 500px;
  height: auto;
}

.img-404,
.go-back-btn{
  display: block;
  margin: 0 auto 50px auto;
}

.img-403 {
  display: block;
  margin: 0 auto 0 auto;
}

a:hover, 
a:visited, 
a:link, 
a:active{
  text-decoration: none;
}





/*  book page  */

.book-div-p{
  display: inline;
}

.book-rev-container{
  margin: 10px 20px 50px 20px;
}

.book-rev-comments{
  font-size: 15px;
}

.book-rev-comments-container,
.book-rate-select{
  width: 500px;
}

.card-img{
  width:100px;
  height:auto;
}

.book-top-cards{
  overflow: hidden;
}

.book-top-cards-right{
  height: inherit;
  width: 400px;
}










